<app-menu></app-menu>
<img class="iimg" src="assets/bull.jpg" width=100%>
<div *ngIf='request' class="component">
    <section class='heading'>
        <span class='page-title font-weight-bold font-italic'>[{{title}}]</span>
        <span> | <a routerLink="/request/list">Return to List</a></span>
    </section>
    <main class="single">
        <table class="table table-sm bold">
            <tr style="font-weight: bold;">
                <td>Request Id</td>
                <td>Description</td>
                <td>Status</td>
                <td>Total</td>
            </tr>
            <tr>
                <td>{{request.id}}</td>
                <td>{{request.description}}</td>
                <td>{{request.status}}</td>
                <td>{{request.total | currency}}</td>
            </tr>
        </table>
    </main>

    <section class='heading'>
        <span class='page-title font-weight-bold font-italic'>[{{title2}}]</span>
        <span>
            <a routerLink="/line-item/create/{{request.id}}">
                <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
            </a>
        </span>
    </section>
    <table *ngIf='request' class="table table=sm table-striped bold">
        <thead>
            <tr>
                <th>Line Item ID</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Line Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <p *ngIf='!lineitems'>No line items yet. Please create a new one!</p>
            <tr *ngFor='let lineitem of lineitems'>
                <td>{{lineitem.id}}</td>
                <td>{{lineitem.product.name}}</td>
                <td>{{lineitem.quantity}}</td>
                <td>{{lineitem.product.price}}</td>
                <td>{{lineitem.product.price * lineitem.quantity | currency}}</td>
                <a routerLink='/line-item/edit/{{lineitem.id}}'>
                    <img width='20' height='20' src='assets/pencil-icon.png' title='Edit Line Item'>
                </a>
                |
                <button (click)="delete(lineitem.id)" style="border:none;">
                    <img width='15' height='20'src="assets/delete.jpg" title="Delete Line Item">
                </button>
            </tr>
            <span>
                <button (click)="submitForReview()" class="btn btn-sm btn-primary">Submit For Review</button>
            </span>     
        </tbody>
    </table>
</div>