<section class='heading'>
    <span class='page-title font-weight-bold font-italic'>[{{title}}]</span>
    <span><a routerLink="/request-review/review">Return to List</a></span>
</section>
<table *ngIf="request" class="table table-sm">
    <tr style="font-weight: bold;">
        <td>Id</td>
        <td>Description</td>
        <td>Status</td>
        <td>Total</td>
    </tr>
    <tr>
        <td>{{request.id}}</td>
        <td>{{request.description}}</td>
        <td>{{request.status}}</td>
        <td>{{request.total | currency}}</td>
</table>
<section class='heading'>
    <span class='page-title font-weight-bold font-italic'>[{{title2}}]</span>
</section>
<table *ngIf='lineitems' class="table table=sm table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Line Total</th>            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let lineitem of lineitems'>
            <td>{{lineitem.id}}</td>
            <td>{{lineitem.product.name}}</td>
            <td>{{lineitem.quantity}}</td>
            <td>{{lineitem.product.price}}</td>
            <td>{{lineitem.product.price * lineitem.quantity | currency}}</td>
        </tr>
    </tbody>
    <span>
        <button (click)="approve()" class="btn btn-sm btn-primary">Approve</button>
    </span>
    <span>
        <button (click)="reject()" class="btn btn-sm btn-danger">Reject</button>
    </span>
    <span>
        <input value="Reason For Rejection" type="text">
    </span>