<img class="iimg" src="assets/bbbbb.jpg" width=100%>
<section class='heading'>
    <span class='page-title font-weight-bold font-italic'>[{{title}}]</span>
    <span><a routerLink="/request-review/review">Return to List</a></span>
</section>
<table *ngIf="request" class="table table-sm bold">
    <tr style="font-weight: bold;">
        <td class="d">Id</td>
        <td class="d">Description</td>
        <td class="d">Status</td>
        <td class="d">Total</td>
    </tr>
    <tr>
        <td>{{request.id}}</td>
        <td>{{request.description}}</td>
        <td>{{request.status}}</td>
        <td>{{request.total | currency}}</td>
</table>
<section class='heading'>
    <span class='page-title font-weight-bold font-italic'>[{{title2}}]</span>
</section>
<table *ngIf='lineitems' class="table table=sm table-striped bold">
    <thead>
        <tr>
            <th class="h">ID</th>
            <th class="h">Product</th>
            <th class="h">Quantity</th>
            <th class="h">Price</th>
            <th class="h">Line Total</th>            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let lineitem of lineitems'>
            <td>{{lineitem.id}}</td>
            <td>{{lineitem.product.name}}</td>
            <td>{{lineitem.quantity}}</td>
            <td>{{lineitem.product.price}}</td>
            <td>{{lineitem.product.price * lineitem.quantity | currency}}</td>
        </tr>
    </tbody>
    <span>
        <button (click)="approve()" class="btn btn-sm btn-primary">Approve</button>
    </span>
    <span>
        <button type="submit" [disabled]="!request.reasonForRejection" class="btn btn-danger" (click)="reject()">Reject</button>
    </span>
    <br>
    <br>
    <span>
        <input type="text" class="form-control" [(ngModel)]="request.reasonForRejection"
        id="request" placeholder="Reason For Rejection">
    </span>