<section class='heading'>
    <span class='page-title font-weight-bold font-italic'>[{{title}}]</span>
    <span> | <a routerLink="/request-review/review">Return to List</a></span>
</section>
    <table class="table table-sm">
        <thead style="font-weight: bold;">
            <th>Id</th>
            <th>Description</th>
            <th>Status</th>
            <th>Total</th>
        </thead>
        <tbody *ngFor="let request of request">
            <td>{{request.id}}</td>
            <td>{{request.description}}</td>
            <td>{{request.status}}</td>
            <td>{{request.total}}</td>
        </tbody>
    </table>
    <span>
        <button (click)="approve()" class="btn btn-sm btn-primary">Approve</button>
    </span>
<section class='heading'>
     <span class='page-title font-weight-bold font-italic'>[{{title2}}]</span>    
</section> 
<table *ngIf='lineitems' class="table table=sm table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Line Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>      
        <tr *ngFor='let lineitem of lineitems'>
            <td>{{lineitem.id}}</td>
            <td>{{lineitem.product.name}}</td>
            <td>{{lineitem.quantity}}</td>
            <td>{{lineitem.product.price}}</td>
            <td>{{lineitem.product.price * lineitem.quantity | currency}}</td>
        </tr>
    </tbody>